.saxeli {
  font-weight: bold;
}

.gvari {
  font-weight: bold;
}
.dabadeba {
  font-weight: bold;
}
.ganatleba {
  font-weight: bold;
}

.skills {
  font-size: 32px;
  background-color: aqua;
}
.enebi {
  font-weight: bold;
}
.skills2 {
  font-weight: bold;
}
.divi {
  background-color: aqua;
}
.spani {
  text-transform: capitalize;
}

.node {
  background-color: yellow;
}
.axla {
  background-color: yellow;
}
.divimeore {
  background-color: aqua;
}
.ano {
  background-color: aqua;
}
.infoebi {
  background-color: palevioletred;
}
.nabiji {
  text-align: center;
}
.imiji {
  height: 300px;
  width: 300px;
}
.blabla{
  text-align: center;
}